# Development Tools.
.mypy_cache/
.ruff_cache/
__pycache__/
.idea/
.vscode/

# Environments.
.venv*/
venv*/
conda_env*/

# Python Bytecode.
*.py[cod]

# Distribution/Packaging.
/build/
/dist/
*.egg-info/
.pypirc

# Operating System Junk.
*.DS_Store
Thumbs.db
desktop.ini

# IndexTTS.
/cache/
/checkpoints/*
!/checkpoints/*.yaml
/outputs/
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md